body{
    min-width: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    overflow-x: hidden;
}
.tamanhoFormulario{
    background-color: #ffffff;
    padding: 20px 20px;
    margin-top: 250px;
    margin-bottom: 20px;
    margin-left: 550px;
    border-radius: 50px;
    width: 40%;
}

h3{
    margin-top: -105px;
    padding-bottom: 15px ;
    color: #000000;
}
button{
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
}

